@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/MaterialIcons-Regular.eot'); ///* For IE6-8 */
  src: local('#{$font-path}/Material Icons'),
  local('#{$font-path}/MaterialIcons-Regular'),
  url('#{$font-path}/MaterialIcons-Regular.woff2') format('woff2'),
  url('#{$font-path}/MaterialIcons-Regular.woff') format('woff'),
  url('#{$font-path}/MaterialIcons-Regular.ttf') format('truetype');
}

[md-name] {
  direction: ltr;
  font-family: 'Material Icons';
  // /* Support for IE. */
  font-feature-settings: 'liga';
  // /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  // /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  height: auto;
  letter-spacing: normal;
  // /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
  word-wrap: normal;
}

[md-name][item-left],
[md-name][item-right] {
  margin-right: 4px;
}
